<?xml version="1.0" encoding="UTF-8"?><Context>
    <Resource accessToUnderlyingConnectionAllowed="false" driverClassName="org.h2.Driver" logAbandoned="true" name="jdbc/CronAppCommerce" password="cronapp" removeAbandoned="false" removeAbandonedTimeout="60" type="javax.sql.DataSource" url="jdbc:h2:file:~/CronosCommerce;DATABASE_TO_UPPER=false;ALIAS_COLUMN_NAME=true" username="cronapp"/>
</Context>
