<h3>{{'Product.view.Produtos' | translate}}</h3>

<div ng-hide="Product.inserting || Product.editing">
  <label for="textinput-filter" class="">{{"template.crud.search" | translate}}</label> 
  <input type="text" ng-model="query" class="form-control" value="%" placeholder="{{'template.crud.search' | translate}}"> 
</div>
<br/>
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-763276"> 
   <datasource filter="{{query == '' || query == null ? null : ('/listByName/' + query)}}" name="Product" entity="api/rest/cronoscommerce/Product" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-button" id="crn-button-564202" style="margin-bottom: 10px;"> 
  <button class="btn btn-primary" type="submit" onclick="" ng-click="Product.startInserting()" ng-hide="Product.inserting || Product.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-grid" id="crn-grid-Product"> 
  <div crn-datasource="Product" class="" ng-hide="Product.editing || Product.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
          <th class=""> 
            <div class="">Nome</div>
          </th> 
          <th class=""> 
            <div class="">Descrição</div>
          </th> 
          <th class=""> 
            <div class="">Preço</div>
          </th> 
          <th class=""> 
            <div class="">Quantidade</div>
          </th> 
          <th class=""> 
            <div class="">Categoria</div>
          </th> 
          <th class=""> 
            <div class="">Imagem</div>
          </th> 
          <th class=""> 
            <div class="">Taxa de Entrega</div>
          </th> 
          <th class=""> 
          <div class="">{{"template.crud.actions" | translate}}</div>
          </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
          <td class=""> 
            <div class="">

                  {{rowData.name}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.description}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.value}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.amount}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                {{rowData.sub_category.name}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.image}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.deliveryFee}}
        
            </div>
          </td> 
          <td class=""> 
            <div class=""> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
            </div></td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-form" id="crn-form-form-Product"> 
  <div class="form" ng-show="Product.editing || Product.inserting"> 
    <form crn-datasource="Product" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-name"> 
          <div class="form-group"> 
            <label for="textinput-name" class="">Nome</label> 

        <input type="text" ng-model="Product.active.name" class="form-control" id="textinput-name" placeholder="Nome"  required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-description"> 
          <div class="form-group"> 
            <label for="textinput-description" class="">Descrição</label> 

        <input type="text" ng-model="Product.active.description" class="form-control" id="textinput-description" placeholder="Descrição"  required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-value"> 
          <div class="form-group"> 
            <label for="textinput-value" class="">Preço</label> 

        <input type="text" ng-model="Product.active.value" class="form-control" id="textinput-value" placeholder="Preço"  required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-amount"> 
          <div class="form-group"> 
            <label for="textinput-amount" class="">Quantidade</label> 

        <input type="text" ng-model="Product.active.amount" class="form-control" id="textinput-amount" placeholder="Quantidade"  required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-sub_category"> 
          <div class="form-group"> 
            <label for="textinput-sub_category" class="">Categoria</label> 


    <datasource name="SubCategory" entity="api/rest/cronoscommerce/SubCategory" keys="id" class=""></datasource> 

    <select ng-model="Product.active.sub_category" class="form-control" id="textinput-sub_category" ng-options="opt as opt.name for opt in SubCategory.data track by opt.id" >
      <option value=''>None</option>
    </select>


          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-image"> 
          <div class="form-group"> 
            <label for="textinput-image" class="">Imagem</label> 

        <input type="text" ng-model="Product.active.image" class="form-control" id="textinput-image" placeholder="Imagem"  required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-deliveryFee"> 
            <div class="form-group"> 
                <label for="textinput-deliveryFee" class="">Taxa de Entrega</label> 
                <input type="text" ng-model="Product.active.deliveryFee" class="form-control" id="textinput-deliveryFee" placeholder="Taxa de Entrega"  required="required"> 
            </div> 
        </div> 
        <div class=""></div> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<div class=""></div>